
    <div class="grant">
      <div class="table-header">
        <h3>
          Fog Creek access authorization to customer site and data
        </h3>
      </div>
      <table>
        <tbody>
          <tr><td>Status</td><td class="table-val">{{status}}</td></tr>
          <tr><td>URL</td><td class="table-val">{{url}}</td></tr>
          <tr><td>User Name</td><td class="table-val">{{user_name}}</td></tr>
          <tr><td>Access Type</td><td class="table-val">{{type}}</td></tr>
          <tr><td>Case Number</td><td class="table-val">{{case_number}}</td></tr>
          <tr><td>Grant Date</td><td class="table-val">{{grant_time}}</td></tr>
          <tr><td>Revoke Date</td><td class="table-val">{{revoke_time}}</td></tr>
        </tbody>
      </table>
    </div>